body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('assets/datascience.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 0px black;
}

header h1 {
    font-size: 42px
}

header h2 {
    font-size: 36px;
    font-weight: normal;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
}


.project {
    margin: 20px 0;
}

.project img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.project a {
    color: #34495e;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #34495e;
    color: white;
}

footer .social a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

a {
    color: #50b3a2;
    text-decoration: none;
}

#training {
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#training h2 {
    color: #34495e;
}

.course {
    margin-bottom: 30px;
}

.course h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.course img {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    gap: 20px;
}

.project-content {
    flex: 1;
}

.project-image {
    flex: 1;
    text-align: center;
}

.project-image img {
    max-width: 90%;
    height: auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.services-technologies {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 40px 20px;
}

.services-technologies section {
    flex: 1;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Opcional: para que se vean iguales si hay diferencia de contenido */
#services, #technologies {
    min-height: 250px;
}




@media screen and (max-width: 768px) {
    header {
        padding: 30px 20px;
    }

    header h1 {
        font-size: 30px;
    }

    header h2 {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .services-technologies {
        flex-direction: column;
    }
}
